<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @bill_detail.event %>
</p>

<p>
  <b>Location:</b>
  <%= @bill_detail.location %>
</p>

<p>
  <b>Date:</b>
  <%= @bill_detail.date %>
</p>
<p>
  <b>Total Amount :</b>
  <%= get_total_amount(@bill_detail) %>
</p>

<%= link_to 'Back', bill_details_path %>
